* {
  margin-right: auto;
  margin-left: auto;
}

body {
  font-family: sans-serif;
  color: white;
  background: black;
  margin: 2em;
  text-align: center;
}

button {
  background: white;
  border-color: black;
  border-style: solid;
  border-radius: 4px;
  cursor: pointer;
  transition-duration: 0.2s;
}

.tabButton {
  font-size: 20px;
  font-weight: bold;
  height: 40px;
  margin: 0 4px;
  border-radius: 8px;
  padding: 0 12px;
}

.optionsButton {
  width: 150px;
  height: 150px;
  font-size: 16px;
  border-radius: 8px;
}

.upgradeButton {
  width: 200px;
  height: 100px;
  border-radius: 8px;
}

.locked {
  color: black !important;
  background: white !important;
  border-color: black !important;
  cursor: not-allowed;
}

.bought {
  color: black !important;
  background: lime !important;
  border-color: black !important;
  cursor: default;
}

.prestigeButton {
  font-size: 16px;
  padding: 4px 8px;
}

.challenge {
  width: 300px;
  height: 150px;
  border-radius: 8px;
}

.running {
  color: black !important;
  background: white !important;
  border-color: black !important;
}

.cursorDefault {
  cursor: default !important;
}

.cursorPointer {
  cursor: pointer !important;
}

.cursorNotAllowed {
  cursor: not-allowed !important;
}

.exponentButton {
  background: #E0E0E0;
  border-color: #4980CC;
}

.exponentButton:hover {
  color: white;
  background: #4980CC;
}
